<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ block "title" . }}
    {{ .Site.Title }} {{ end }}</title>
  <link rel="stylesheet" href="/main.css" />
</head>

<body>
  <nav id="navbar" class="navbar">
    <div class="container">
      <div class="row">
        <div class="navbar-content">
          <a href="/">
            <img src="../logo.svg" alt="logo" class="logo logo-sm">
          </a>
          <a href="/">
            <img src="../logo-blue.svg" alt="logo" class="logo logo-md">
          </a>
          <ul class="nav-links">
            <li>
              <a href="/">DISEÑO</a>
            </li>
            <li>
              <a href="/">MARKETING</a>
            </li>
            <li>
              <a href="/">SOFTWARE</a>
            </li>
            <li>
              <a href="/">NOSOTROS</a>
            </li>
            <li>
              <a href="/">BLOG</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- Code that all your templates share, like a header -->
  {{ block "main" . }}
  <!-- The part of the page that begins to differ between templates -->
  {{ end }} {{ block "footer" . }}
  <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
  {{ end }}
  <script src="/bundle.js"></script>
</body>

</html>