header.services {
  .text {
    @include grid-column(12);
    padding-top: 150px;
    text-align: center;
    h1 {
      font-size: 250%;
    }
    p {
      font-size: 150%;
    }
  }
}

.web-design {
  background: rgb(33, 207, 27);
}

.benefit {
  @include grid-column(4);
  img {
    width: 100%;
  }
  .benefit-text {
    text-align: center;
    padding: 10px;
  }
}