{{ define "main" }}
<main aria-role="main">
  <div id="dots"></div>
  <header class="index">
    <div class="container">
      <div class="row">
        <div class="content">
          <p>Obtén Nuevos Clientes y Genera Más Ventas Hoy</p>
          <h1>Diseño Profesional de Páginas Web en Cancún</h1>
          <a href="#" class="btn btn-primary">
            <i class="fab fa-whatsapp"></i>
            Solicita una llamada
          </a>
        </div>
        <div class="image">
          <img src="/webpage.png" alt="webpage">
        </div>
      </div>
    </div>
  </header>
  <div class="logos">
    <div class="container">
      <img src="../logos/google_logo.svg" class="google" alt="google">
      <img src="../logos/facebook.svg" class="facebook" alt="facebook">
      <img src="../logos/instagram.svg" class="instagram" alt="instagram">
      <img src="../logos/twitter.svg" class="twitter" alt="twitter">
      <img src="../logos/javascript.svg" class="javascript" alt="javascript">
      <img src="../logos/react.svg" class="react" alt="react">
      <img src="../logos/github.svg" class="github" alt="github">
    </div>
  </div>
  <section class="why-us">
    <div class="container">
      <div class="heading text-center">
        <h2>¿Porqué hacer tu página web con nosotros?</h2>
        <hr class="dash">
      </div>
      <div class="row">
        <div>
          <img src="/web-design/006-people.svg" alt="icon">
          <h3>Mas de 10 años de experiencia</h3>
          <p>Contamos con diseñadores y programadores con amplia experiencia para crear tus mas grandes ideas</p>
        </div>
  
        <div>
          <img src="/web-design/001-growth.svg" alt="icon">
          <h3>Sin tarifas escondidas</h3>
          <p>Contamos con diseñadores y programadores con amplia experiencia para crear tus mas grandes ideas</p>
        </div>
  
        <div>
          <img src="/web-design/002-thumbs-up.svg" alt="icon">
          <h3>Satisfacción al 100%</h3>
          <p>Contamos con diseñadores y programadores con amplia experiencia para crear tus mas grandes ideas</p>
        </div>
      </div>
  
      <div class="row">
        <div>
          <img src="/web-design/005-devices.svg" alt="icon">
          <h3>Diseño para celulares y tabletas</h3>
          <p>Contamos con diseñadores y programadores con amplia experiencia para crear tus mas grandes ideas</p>
        </div>
  
        <div>
          <img src="/web-design/004-google.svg" alt="icon">
          <img src="/web-design/003-bing.svg" alt="icon">
          <h3>Optimizado para Google y Bing</h3>
          <p>Contamos con diseñadores y programadores con amplia experiencia para crear tus mas grandes ideas</p>
        </div>
  
        <div>
          <img src="/web-design/007-online-support.svg" alt="icon">
          <h3>Atención personalizada</h3>
          <p>Contamos con diseñadores y programadores con amplia experiencia para crear tus mas grandes ideas</p>
        </div>
      </div>
    </div>
  </section>

  <div class="parallax bg-dark philosophy">
    <p>Comienza a tener más clientes hoy</p>
  </div>

  <section class="how-we-do-it">
    <div class="container">
      <div class="heading text-center">
        <h2>Cómo creamos tu sitio web</h2>
        <hr class="dash">
        <p class="lead">Con estos sencillos pasos podrás tener tu nuevo sitio web en 7 días</p>
      </div>
      <div class="row">
        <div class="description">
          <h3>Platicanos tu proyecto</h3>
          <p>Habla con uno de nuestros diseñadores profesionales y cuéntanos tus ideas; luego te enviaremos algunas propuesta
            de diseño que vayan de acuerdo a tu negocio.</p>
          <p>Puedes enviarnos tu texto, logotipos e imágenes. Si no cuentas con imágenes, tenemos una enorme biblioteca de fotos
            profesionales para que tu sitio se vea genial.</p>
        </div>
        <div>
          <img src="/web-design/phone-call.jpg" alt="phonecall">
        </div>
      </div>
  
      <div class="row">
        <div>
          <img src="/web-design/developing.jpg" alt="develop">
        </div>
        <div class="description">
          <h3>Empezamos a darle vida a tus ideas</h3>
          <p>Habla con uno de nuestros diseñadores profesionales y cuéntanos tus ideas; luego te enviaremos algunas propuesta
            de diseño que vayan de acuerdo a tu negocio.</p>
          <p>Puedes enviarnos tu texto, logotipos e imágenes. Si no cuentas con imágenes, tenemos una enorme biblioteca de fotos
            profesionales para que tu sitio se vea genial.</p>
        </div>
      </div>
  
      <div class="row">
        <div class="description">
          <h3>Lo publicamos en grande</h3>
          <p>Habla con uno de nuestros diseñadores profesionales y cuéntanos tus ideas; luego te enviaremos algunas propuesta
            de diseño que vayan de acuerdo a tu negocio.</p>
          <p>Puedes enviarnos tu texto, logotipos e imágenes. Si no cuentas con imágenes, tenemos una enorme biblioteca de fotos
            profesionales para que tu sitio se vea genial.</p>
        </div>
        <div>
          <img src="/web-design/publish.jpg" alt="publish">
        </div>
      </div>
  
    </div>
  </section>
  <div class="wave"></div>
  <section>
    <div class="container">
      <div class="heading text-center">
        <h2>Beneficios sin costo extra</h2>
        <hr class="dash">
        <p class="lead">Conoce los beneficios que sólo encontrarás con nosotros</p>
      </div>
      <div class="row">
        <div class="benefit">
          <img src="/web-design/https-banner.png" alt="https">
          <div class="benefit-text">
            <h3>Certificado de Seguridad</h3>
            <p>Tus clientes podrán sentirse seguros al ver que tu sitio cuenta con un certificado de seguridad, además Google
              da prioridad a los sitios que cuentan con este certificado.</p>
          </div>
        </div>
        <div class="benefit">
          <img src="/web-design/google-env.jpg" alt="google-verification">
          <div class="benefit-text">
            <h3>Verificación por Google</h3>
            <p>Recibirás una postal de parte de Google con un código único para verificar tu empresa, esto ayudará a posicionar
              mejor tu sitio y aparecer en mejores resultados.</p>
          </div>
        </div>
        <div class="benefit">
          <img src="/web-design/hosting.png" alt="hosting">
          <div class="benefit-text">
            <h3>Hosting Premium</h3>
            <p>Contamos con alianzas con empresas líderes como Microsoft, Google y Amazon. Esto nos garantiza alta velocidad y
              tu sitio siempre estará en linea.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="customers">
    <div class="heading">
      <h2 class="text-center">Algunos de Nuestros Clientes</h2>
      <hr class="dash">
      <p class="lead text-center">Conoce las diferentes historias de éxito</p>
    </div>
    <div class="container">
      <div class="row" id="customers">
  
      </div>
    </div>
  </section>

  <section class="promo">
    <div class="heading">
      <h2 class="text-center">Promociones</h2>
      <hr class="dash">
    </div>
  </section>
</main>
{{ end }}